/*.head{
    color: rgba(138, 43, 226, 0.94);
    font-size: 70px;
    font-family: "Lucida Handwriting", cursive;
}*/

/*original*/
/*.head{
    position: relative;
    color: rgba(138, 43, 226, 0.94);
    font-size: 70px;
    font-family: "Ink Free", cursive;
    padding: 20px;
}

.background{
    position: relative;
    background-color: rgba(173, 152, 200, 0.22);
    height: 100%;
    width: 100%;
}

.buttons {;
    padding: 8px;
    border: 2px double rgba(138, 43, 226, 0.94);
    position: absolute;
    top: 3cm;
    right: 3cm;
    border-radius: 50px 20px;
}

.learnButton{
    font-size: 20px;
    color: rgba(79, 11, 144, 0.7);


}
.detectButton{
    font-size: 20px;
    color: rgba(79, 11, 144, 0.88);

}

.regLabel, .hybLabel{
    font-size: 20px;
    color: rgb(79, 11, 144);

}

.upload{
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 50px 20px;

}

.learnB, .detectB{
    height: 40px;
    width: 250px;
    font-size: 18px;
    !*border-radius: 50px 20px;*!
    !*border: 2px solid black;*!
}

.anomaliesTable{
    position: absolute;
    top: 5cm;
}*/

/*.graphCanvas{
    top: 26cm;
    right: 1cm;
}*/

.r{
    border: 2px solid black;
    position: static;
    right: 10%;
}

.head{
    color: rgba(138, 43, 226, 0.94);
    font-size: 3.5vw;
    font-family: "Ink Free", cursive;
    margin-left: 1vw;

    /*    position: relative;
        padding: 20px;
        bottom: 10px;
        top: -50px;
        left: 10px;
        max-width:50%;
        min-width:800px;
        max-height:500px;
        min-height:20%;*/
}

.background{
    background-color: rgba(173, 152, 200, 0.22);
    /*    position: relative;
        height: 100%;
        width: 100%;
        max-width:70%;
        min-width:800px;
        max-height:500px;
        min-height:21%;*/
}

.buttons {
    border: 0.3vw double rgba(138, 43, 226, 0.94);
    min-height: 340px;
    padding: 0.4vw;
    height: 50vh;
    width: 20vw;
    position: relative;
    left: 75vw;
    top: 0.5vh;
    border-radius: 10px;
    /*
        top: 80%;
        left: 100%;
        bottom: 180px;
        right: 20%;
        width: 300px;
        max-width:70%;
        min-width:150px;
        max-height:500px;
        min-height:21%;*/
}

.anomaliesTable {
    overflow-y: scroll;
    height:300px;
    display:inline;
    width: 70vw;
    /*position: absolute;
    top: 5cm;
    border: 0.3vw double rgba(138, 43, 226, 0.94);*/
}

.learnButton , .detectButton{
    font-size: 1.5vw;
    color: rgba(79, 11, 144, 0.7);
}

.regLabel, .hybLabel{
    font-size: 1.5vw;
    color: rgb(79, 11, 144);
}

.upload{
/*    height: 40px;
    width: 80px;*/
    font-size: 1.5vw;
    border-radius: 40px 20px;
}

.learnB, .detectB{
/*    height: 40px;
    width: 250px;*/
    font-size: 1.5vw;
    /*border-radius: 50px 20px;*/
    /*border: 2px solid black;*/
}



.graphCanvas{
    position: relative;
    top: 4.9vh;
    margin-left: 5px;
    border: 0.3vw double rgba(138, 43, 226, 0.94);
    height: 53vh;
    width: 70vw;
    border-radius: 10px;
}

/*.tableDiv{
    border: 0.3vw double rgba(138, 43, 226, 0.94);
    height: 53vh;
    width: 70vw;
    margin-left: 5px;
    !*top: -10vh;*!
}*/



/*
.divList{
    border: 0.3vw double rgba(138, 43, 226, 0.94);
    height: 50vh;
    width: 17vw;
    position: relative;
    left: 76vw;
    top: -10px;
    border-radius: 10px;
}
*/




/*.head{
    position: relative;
    color: rgba(138, 43, 226, 0.94);
    font-size: 70px;
    font-family: "Ink Free", cursive;
    padding: 20px;
    bottom: 10px;
    top: -50px;
    left: 10px;
    max-width:50%;
    min-width:800px;
    max-height:500px;
    min-height:20%;
}

.background{
    position: relative;
    background-color: rgba(173, 152, 200, 0.22);
    height: 100%;
    width: 100%;
    max-width:70%;
    min-width:800px;
    max-height:500px;
    min-height:21%;
}

.buttons {;
    padding: 10px;
    border: 2px double rgba(138, 43, 226, 0.94);
    position: relative;
    top: 80%;
    left: 100%;
    bottom: 180px;
    right: 20%;
    width: 300px;
    border-radius: 50px 20px;
    max-width:70%;
    min-width:150px;
    max-height:500px;
    min-height:21%;
}

.anomaliesTable {
    overflow-y: scroll;
    height:300px;
    display:inline;
}

.learnButton{
    font-size: 20px;
    color: rgba(79, 11, 144, 0.7);


}
.detectButton{
    font-size: 20px;
    color: rgba(79, 11, 144, 0.88);

}

.regLabel, .hybLabel{
    font-size: 20px;
    color: rgb(79, 11, 144);

}

.upload{
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 50px 20px;

}

.learnB, .detectB{
    height: 40px;
    width: 250px;
    font-size: 18px;
    !*border-radius: 50px 20px;*!
    !*border: 2px solid black;*!
}

.anomaliesTable{
    position: absolute;
    top: 5cm;
}*/