
.r{
    border: 2px solid black;
    position: static;
    right: 10%;
}

.head{
    color: rgba(138, 43, 226, 0.94);
    font-size: 3.5vw;
    font-family: "Ink Free", cursive;
    margin-left: 1vw;
}

.background{
    background-color: rgba(173, 152, 200, 0.22);
}

.buttons {
    border: 0.3vw double rgba(138, 43, 226, 0.94);
    min-height: 340px;
    padding: 0.4vw;
    height: 50vh;
    width: 20vw;
    position: relative;
    left: 75vw;
    top: 0.5vh;
    border-radius: 10px;
}

.anomaliesTable {
    overflow-y: scroll;
    height:300px;
    display:inline;
    width: 70vw;
}

.learnButton , .detectButton{
    font-size: 1.5vw;
    color: rgba(79, 11, 144, 0.7);
}

.regLabel, .hybLabel{
    font-size: 1.5vw;
    color: rgb(79, 11, 144);
}

.upload{
    font-size: 1.5vw;
    border-radius: 40px 20px;
}

.learnB, .detectB{
    font-size: 1.5vw;
}


.graphCanvas{
    position: relative;
    top: 4.9vh;
    margin-left: 5px;
    border: 0.3vw double rgba(138, 43, 226, 0.94);
    height: 53vh;
    width: 70vw;
    border-radius: 10px;
}

