table{
    font-size: 20px;
    /*width: 100px;*/
    /*border: 1px solid black;*/
}

th{
    text-align: left;
}

td{
    height: 100px;
}

table, th, td{
    border: 2px solid black;
    width: 500px;
    max-width: 500px;
}