
ol {
    position: absolute;
    top: 13cm;
    right: 3cm;
    width: 270px;
    height: 400px;
    overflow-y: auto;
    font-family: "Lucida Handwriting", cursive;
}

ol li {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;

}

ol li:hover {
    background-color: #ccc;
}

ol li:active {
    background-color: #8A2BE2EF;
    color: black;
}
